/* Global Variables & Values */

// Header Styles

.top-header {
  font-size: 0.85em;
  a {
  	color:#fff;
  	text-decoration: underline;
  }
  @media(max-width:640px){
	font-size: 0.8em;
	text-align: center;
  }
}

#site-logo {
	max-width:360px;
	@media(max-width:800px){
		max-width: 250px;
	}
	@media(max-width:640px){
		max-width: 205px;
	}
}



// Homepage Parallax

.homepage-parallax {
	background:url('#{$home_widget_parallax}');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover; 
	width:100%; 
	display:block;
	text-align:center;
	margin:50px auto;
	padding:70px 0;
	h3 {
		color:#fff;
		text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
		border-bottom:solid 2px #fff;
		max-width: 400px;
		margin:0 auto;
		padding-bottom:20px;
		font-size: 4em;
		font-weight: 300; 
		text-transform: uppercase;
		@media(max-width:640px){
			font-size: 3em;
		}
	}
	.boxedbottom {
		margin:0 auto;
		padding:25px;
		max-width: 420px;
		background:rgba(255,255,255,0.5);
		color:#000;
		float:none;
	}
}




// Footer

#footer {
	text-align:center;
	.sub-menu {
		display:none;
	}
	.social-link {
	  border: 2px solid $brand-primary;
	  font-size: 2em;
	  margin: 10px;
	  padding: 10px;
	}
	.nav {
		margin:50px 0 30px 0;
		li {
			float:none;
			display: inline-block;
			margin:5px;
			a {
				display: block;
			}
		}
	}
	.navbar-brand {
	  float: none;
	}
	.blvd-logo {
		border-bottom:solid 1px #ddd; 
		padding:15px 0;
	}
	.footer-links {
		margin:20px auto;
		padding:0;
		li {
			list-style: none;
			display: inline;
			float:none;
			margin:10px;
			img {
				opacity: 0.5;
				transition: all 0.5s ease;
				max-width: 100px;
				max-height: 50px;
				@media(max-width:640px){
					max-width: 75px;
					max-height: 40px;
				}
			}
			img:hover {
				opacity: 1;
			}
		}
	}
	#copyright {
		.hji-powered,
		.copyright {
			padding:15px 0;
			font-size: 0.85em;
			color:#ddd;
			a {
				color:#ddd;
				text-decoration: underline;
			}
		}
	}
}




// SVG Map

.map-wrap {
    background:#efefef;
    border-top:solid 1px rgba(0,0,0,0.05);
    border-bottom:solid 1px rgba(0,0,0,0.05);
    margin:25px auto;
    clear:both;
    min-height:500px;
	overflow:hidden;
	position:relative;
}

.svg-wrap {
	padding:10px;
	margin:0;
}

.map-content {
	padding:10px;
	margin:0;
	h3 {
		font-size: 1.3em;
		color:#555;
		padding:15px 0;
		margin:15px auto 25px auto;
	}
}

.map-links {
	margin:25px auto 10px auto;
	padding:0;
	a {
		color:$brand-primary;
		font-weight: bold;
		width: 24%;
		float: left;
		margin:0.5% 0;
		text-transform: uppercase;
		font-size: 0.75em;
		text-align: left;
		padding:6px 10px;
		border:solid 2px rgba(0,0,0,0);
		@media(max-width:991px){
			text-align: center;
		}
		@media(max-width:800px){
			float:50%;
		}
	}
	a:hover {
		border:solid 2px $brand-primary;
		text-decoration: none;
	}
}

.hovered {
	border:solid 2px $brand-primary !important; 
	text-decoration: none;
    cursor: pointer;
    g {
    	opacity: 0.3;
    }
}

svg g polygon,
svg g path,
svg g image,
.map-links a {
    transition:all 0.3s ease;
}

svg a:hover g, 
svg a g:hover {
  opacity:0.3;
  cursor: pointer;
}


// Single Agent Page

.single-agent .contact-info {
  width: 75%;
  @media(max-width:1000px){
      width:100%;
  }
}

.calls2action .btn.btn-primary {
  display: block;
  margin: 25px auto -10px !important;
}

.single-agent .agent-contact-info {
    font-size:0.9em;
}

.single-agent .agent-contact-info .agent-tabs {
  margin: 25px 0;
}

.agents-row.col-3 {
  display: inline;
}

.agents-archive .agent-data {
  min-height: 140px;
  @media(max-width:1024px){
      width:48% !important;
  }
  @media(max-width:480px){
      width:98% !important;
      clear:both !important;
  }
}




// Injections!

p {
    font-weight:300 !important;
}

.bottom-homewidgets-wrapper {
    max-width:800px;
    margin:0 auto;
    padding:30px;
    img {
    	margin-bottom:15px;
    }
}

.hometoptext {
	max-width:800px;
	margin:80px auto 60px auto;
	@media(max-width:640px){
		margin:45px auto 75px auto;
	}
	h3 {

	}
	p {
		font-size:0.9em;
		line-height: 1.5em;
	}
}

